/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Login and Register Form Styles */
.form-group {
  margin: 20px 0;
}

input.form-control {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

button.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin-right: 10px;
}

button.btn-primary {
  background-color: #007bff;
}

button.btn-secondary {
  background-color: #6c757d;
}

.text-danger {
  color: #dc3545;
}

/* Form Buttons */
.form-buttons {
  display: flex;
  justify-content: space-between;
}

button.btn-info {
  background-color: #17a2b8;
}
